@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,900&family=Sansita+Swashed:wght@300;400;500;700;800&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;


@layer components {

  .sl-online-active{
    @apply w-2 h-2 bg-green-500 rounded-full;
  }

  .sl-offline-active{
    @apply w-2 h-2 bg-gray-500 rounded-full;
  }

  .sl-button{
    @apply p-5 w-auto h-auto m-3;
  }

  .sl-button--success{
    @apply bg-green-300 text-green-700 focus:ring focus:ring-green-400;
  }
  /* .button--cancel {

  } */
}


@layer utilities {

  .sl-theme-light{
    --sl-background-scaffold: white;
    --sl-background-primary: #400f3d;
    --sl-background-secondary: #e4e4e7;
    --sl-background-accent:  #3d54ab;

    --sl-border-secondary: #4c3c4c;
    --sl-border-primary: #e4e4e7;

    --sl-text-side-primary: white;
    --sl-text-side-secondary: #71717a;

    --sl-text-body-primary: #27272a;
    --sl-text-body-secondary: #71717a;

  }
  
  .sl-theme-dark{
    --sl-background-scaffold: #27272a;
    --sl-background-primary: #18181b;
    --sl-background-secondary:  #2d2d2d;
    --sl-background-accent: #400f3d;

    --sl-border-secondary: #4c3c4c;
    --sl-border-primary: #71717a;

    --sl-text-side-primary: white;
    --sl-text-side-secondary: #d4d4d8;

    --sl-text-body-primary: white;
    --sl-text-body-secondary: #71717a;


  }




/* Tooltip container */
.tooltip {
    position: relative;
  }
  /* Tooltip text */
.tooltip .tooltip-ele {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-ele {
    visibility: visible;
  }
  .tooltip .tooltip-ele {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; 
}
.tooltip .tooltip-ele::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

}